:root {
    --primary-sorting-bg-color: #16b8e9;
    --primary-sorting-bg-hover-color: #0ac1f8;
    --primary-not-sorting-bg-color: #bbbbbb;
}

.navbar {
    background-color: #17b978;
    padding: 10px;
    text-align: center;
}

.navbar .navbar-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.navbar .navbar-elements>* {
    margin: 5px;
}

/* ------- SLIDER NOT SORTING ------- */

.navbar .slider {
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    background-color: #e2f3f5;
    outline: none;
}

.navbar .slider:hover {
    cursor: pointer;
}

.navbar .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background-color: var(--primary-sorting-bg-color);
    border: 1px solid #2c2c2c80;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

.navbar .slider::-webkit-slider-thumb:hover {
    background-color: var(--primary-sorting-bg-hover-color);
}

.navbar .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background-color: var(--primary-sorting-bg-color);
    border: 1px solid #2c2c2c80;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

.navbar .slider::-moz-range-thumb:hover {
    background-color: var(--primary-sorting-bg-hover-color);
}

/* ------- SLIDER SORTING ------- */

.navbar .slider-disabled:hover {
    cursor: not-allowed;
}

.navbar .slider-disabled::-webkit-slider-thumb {
    background-color: var(--primary-not-sorting-bg-color);
}

.navbar .slider-disabled::-webkit-slider-thumb:hover {
    cursor: not-allowed;
    background-color: var(--primary-not-sorting-bg-color);
}

.navbar .slider-disabled::-moz-range-thumb {
    background-color: var(--primary-sorting-bg-color);
}

.navbar .slider-disabled::-moz-range-thumb:hover {
    cursor: not-allowed;
    background-color: var(--primary-not-sorting-bg-color);
}

/* ------- MENU NOT SORTING ------- */

.navbar .navbar-menu {
    width: 100px;
    background-color: lightgray;
    /* temporary */
}

.navbar .menu-button {
    width: 100%;
    padding: 2px;
    outline: none;
    border: 1px solid #2c2c2c80;
    border-radius: 5px;
    background-color: var(--primary-sorting-bg-color);
    color: #3a3a3a;
    transition: background-color .2s ease-in-out;
}

.navbar .menu-button:hover {
    cursor: pointer;
    background-color: var(--primary-sorting-bg-hover-color);
}

.navbar .menu-list {
    width: 100px;
    background-color: lightgray;
    /* temporary */
    padding-top: 5px;
    position: absolute;
    list-style-type: none;
    height: 50px;
    overflow: hidden;
    white-space: nowrap;
    transition: height .2s ease-in;
}

.navbar .collapsed {
    height: 0px;
}

/* ------- MENU SORTING ------- */

/* ------- SORT BUTTON NOT SORTING ------- */

.navbar .sort-button {
    width: 75px;
    padding: 2px;
    outline: none;
    border: 1px solid #2c2c2c80;
    border-radius: 5px;
    background-color: var(--primary-sorting-bg-color);
    color: #3a3a3a;
    transition: background-color .2s ease-in-out;
}

.navbar .sort-button:hover {
    cursor: pointer;
    background-color: var(--primary-sorting-bg-hover-color);
}

/* ------- SORT BUTTON NOT SORTING ------- */

.navbar .sort-button-disabled {
    background-color: var(--primary-not-sorting-bg-color);
}

.navbar .sort-button-disabled:hover {
    cursor: not-allowed;
    background-color: var(--primary-not-sorting-bg-color);
}