:root {
    --primary-not-sorting-bg-color: #5dc2c6;
    --primary-not-sorting-bg-hover-color: #5dd4d8;
    --primary-sorting-bg-color: #bbbbbb;
}

.navbar {
    background-color: #17b978;
    padding: 10px;
    text-align: center;
}

.navbar .navbar-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.navbar .navbar-elements>* {
    margin: 5px;
}

.navbar .navbar-element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar .navbar-element {
    margin: 10px;
}

.navbar .navbar-element-text {
    margin-bottom: 5px;
}

/* ------- SLIDER NOT SORTING ------- */

.navbar .slider {
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    background-color: #e2f3f5;
    outline: none;
    margin-top: 3px;
}

.navbar .slider:hover {
    cursor: pointer;
}

.navbar .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background-color: var(--primary-not-sorting-bg-color);
    border: 1px solid #2c2c2c80;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

.navbar .slider::-webkit-slider-thumb:hover {
    background-color: var(--primary-not-sorting-bg-hover-color);
}

.navbar .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background-color: var(--primary-not-sorting-bg-color);
    border: 1px solid #2c2c2c80;
    cursor: pointer;
    transition: background-color .2s ease-in-out;
}

.navbar .slider::-moz-range-thumb:hover {
    background-color: var(--primary-not-sorting-bg-hover-color);
}

/* ------- SLIDER SORTING ------- */

.navbar .slider-disabled:hover {
    cursor: not-allowed;
}

.navbar .slider-disabled::-webkit-slider-thumb {
    background-color: var(--primary-sorting-bg-color);
}

.navbar .slider-disabled::-webkit-slider-thumb:hover {
    cursor: not-allowed;
    background-color: var(--primary-sorting-bg-color);
}

.navbar .slider-disabled::-moz-range-thumb {
    background-color: var(--primary-not-sorting-bg-color);
}

.navbar .slider-disabled::-moz-range-thumb:hover {
    cursor: not-allowed;
    background-color: var(--primary-sorting-bg-color);
}

/* ------- MENU NOT SORTING ------- */

.navbar .navbar-menu {
    width: 100px;
}

.navbar .menu-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 25px;
    outline: none;
    border: 1px solid #2c2c2c80;
    border-radius: 5px 5px 0px 0px;
    background-color: var(--primary-not-sorting-bg-color);
    color: #3a3a3a;
    transition: background-color .2s ease-in-out;
}

.navbar .menu-arrow-icon {
    fill: #2c2c2c80;
    width: 15px;
    height: 15px;
    margin-bottom: 3px;
    transform: rotate(0deg);
    transition: .2s ease-in;
}

.navbar .arrow-collapsed {
    transform: rotate(90deg);
}

.navbar .menu-button:hover {
    cursor: pointer;
    background-color: var(--primary-not-sorting-bg-hover-color);
}

.navbar .menu-list {
    background-color: var(--primary-not-sorting-bg-color);
    width: 98px;
    margin-left: 1px;
    font-size: 13px;
    position: absolute;
    list-style-type: none;
    /* 26px + border times */
    height: 107px; 
    overflow: hidden;
    white-space: nowrap;
    transition: height .2s ease-in;
}

.navbar .collapsed {
    height: 0px;
}

.navbar .list-item {
    padding-top: 5px;
    padding-bottom: 5px;
    transition: .2s ease-in;
}

.navbar .list-item:not(:last-child) {
    border-bottom: 1px solid #2c2c2c80;
}

.navbar .list-item:not(:first-child) {
    border-top: none;
}

.navbar .list-item:hover {
    cursor: pointer;
    background-color: var(--primary-not-sorting-bg-hover-color);
}

.navbar .list-item-active {
    background-color: var(--primary-not-sorting-bg-hover-color);
}

/* ------- MENU SORTING ------- */

.navbar .menu-disabled {
    background-color: var(--primary-sorting-bg-color);
}

.navbar .menu-disabled:hover {
    cursor: not-allowed;
    background-color: var(--primary-sorting-bg-color);
}

/* ------- ORDER PICK NOT SORTING ------- */

.navbar .navbar-order-pick {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .order-pick-button {
    width: 90px;
    height: 25px;
    outline: none;
    border: 1px solid #2c2c2c80;
    background-color: var(--primary-not-sorting-bg-color);
    color: #3a3a3a;
    transition: background-color .2s ease-in-out;
}

.navbar .order-pick-button:hover {
    cursor: pointer;
    background-color: var(--primary-not-sorting-bg-hover-color);
}

.navbar .order-pick-asc {
    border-radius: 5px 0px 0px 5px;
}

.navbar .order-pick-desc {
    border-radius: 0px 5px 5px 0px;
}

.navbar .order-pick-button-active {
    background-color: var(--primary-not-sorting-bg-hover-color);
}

/* ------- ORDER PICK SORTING ------- */

.navbar .order-pick-button-disabled {
    background-color: var(--primary-sorting-bg-color);
}

.navbar .order-pick-button-disabled:hover {
    cursor: not-allowed;
    background-color: var(--primary-sorting-bg-color);
}

/* ------- SORT BUTTON NOT SORTING ------- */

.navbar .sort-button {
    width: 170px;
    height: 45px;
    padding: 0px 4px;
    outline: none;
    border: 1px solid #2c2c2c80;
    border-radius: 5px;
    background-color: var(--primary-not-sorting-bg-color);
    color: #3a3a3a;
    transition: background-color .2s ease-in-out;
}

.navbar .sort-button:hover {
    cursor: pointer;
    background-color: var(--primary-not-sorting-bg-hover-color);
}

/* ------- SORT BUTTON NOT SORTING ------- */

.navbar .sort-button-disabled {
    background-color: var(--primary-sorting-bg-color);
}

.navbar .sort-button-disabled:hover {
    cursor: not-allowed;
    background-color: var(--primary-sorting-bg-color);
}